[submodule "ControlCamera"]
	path = ControlCamera
	url = https://github.com/SonyCSLParis/ControlCamera.git
[submodule "ControlSerial"]
	path = ControlSerial
	url = https://github.com/SonyCSLParis/ControlSerial.git
[submodule "ControlLight"]
	path = ControlLight
	url = https://github.com/SonyCSLParis/ControlLight.git
[submodule "ControlMotors"]
	path = ControlMotors
	url = https://github.com/SonyCSLParis/ControlMotors.git
